-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.



- classes = "directory collapsed"
%ul.jqueryFileTree{ :style => "display: none;"}
  -# if @currdir == '/'
    %li{ :class => classes, :id => "root_dir_li"}
      %a{ :rel => "/", :id => "root_dir_a", :href => "#"}= @currdir
  - if @files
    - for file in @files
      - if file.unixperms =~ /^d/
        - dirpath = "#{@file_path}#{file.filename()}/"
        -# classes = "directory collapsed"
        - id_elem = "#{dirpath}"
        - id_elem.slice!(0)
        - id_elem.slice!(id_elem.length - 1)
        - id_elem = id_elem.gsub("\/", "_");
        -#in the future we can download directories but not now action_download = content_tag(:span, "download ", :class => "fm_action download", :id =>  "#{id_elem}_a")
        - action_share = content_tag(:span, "", :title => t('user_files.share'), :class => "fm_action share", :id => "#{id_elem}_share", :onClick => "fm_share('#{file.id}')")
        - action_delete = content_tag(:span, "", :title => t('user_files.delete'), :class => "fm_action delete", :id => "#{id_elem}_delete", :onClick => "fm_delete('#{file.id}')" )
        - dir_link = link_to file.filename(), "#", :rel => dirpath, :file_id => "#{file.id()}", :id => "#{id_elem}_a", :class => "dir jqxWidget"
        - fileman_elem = dir_link + action_share + action_delete
        %li{ :class => classes, :id => "#{id_elem}"}= fileman_elem
      - else
        - myfilename = file.filename()
        - myfilename =~ /.*\.(.+)$/
        - ext = $1
        - classes = "file ext_#{ext}"
        - file_link = link_to myfilename, "#", :rel => "#{file.id()}", :file_id => "#{file.id()}", :class => "jqxWidget"
        -# test = "#{file_link} TES"
        - action_download = content_tag(:span, "", :title => t('user_files.download'), :class => "fm_action download", :id => "#{file.id}_download", :rel => "#{file.id}", :onClick => "fm_download('#{file.id}')")
        - action_share = content_tag(:span, "", :title => t('user_files.share'), :class => "fm_action share", :id => "#{file.id}_share", :rel => "#{file.id}", :onClick => "fm_share('#{file.id}')")
        - action_delete = content_tag(:span, "", :title => t('user_files.delete'), :class => "fm_action delete", :id => "#{file.id}_delete", :rel => "#{file.id}", :onClick => "fm_delete('#{file.id}')" )
        - fileman_elem = file_link + action_download + action_share + action_delete
        %li{:class => classes, :id=> "#{@file_path}#{file.id()}"}= fileman_elem


